body {
    background-color: rgb(97, 97, 97);
}

.category-col,
.leaderboard-col {
    margin-top: 8px;
}

.main-row .col-4 {
    margin: 8px 0;
}

.card-shadow {
    box-shadow: 0 6px 8px #0009;
}

.chat-user-link:hover {
    text-decoration: none;
}

.chat-user-bg {
    background-color: rgba(139, 139, 139, 0.6);
}