<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjekatNBP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>

@using Microsoft.AspNetCore.Http;
@using ProjekatNBP.Session;
@{

    bool isLoged = ViewContext.HttpContext.Session.GetInt32(SessionKeys.UserId) >= 0;
}

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="text-light" asp-controller="Home" asp-action="Index">NBP</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Oglasi<span class="sr-only">(current)</span></a>
                    </li>
                    @if (isLoged)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="SavedAds">Sacuvani oglasi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="MineAds">Moji oglasi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#adModal">Postavi oglas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Chat" asp-action="Index">Poruke <span class="badge badge-danger badge-pill"></span></a>
                        </li>

                    }
                </ul>

                <ul class="navbar-nav my-2 my-lg-0">
                    @if (!isLoged)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Prijavi se</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#registerModal">Registruj se</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Profile">
                                <img class="nav-icon" src="~/img/man.png" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#notificationModal">
                                <img id="notification-bell" class="nav-icon" src="~/img/bell.png" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="User" asp-action="Logout">Izloguj se</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    @RenderBody()

    <script>
        if (document.getElementById('notification-container').childElementCount > 0)
            document.getElementById('notification-bell').src = '/img/bell_notification.png';
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>